.innerPageContainer {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.breadcrumbsContainer {
	margin-top: 5px;
	width: 95%;
	display: flex;
	align-items: center;
}

.hover:hover {
	color: #757575 !important;
	transition: "color 0.3s";
	cursor: pointer;
}
.hover-text:hover {
	color: #7c0909 !important;
	transition: "color 0.3s";
	cursor: pointer;
}

.hover-button:hover {
	background-color: #9b9999 !important;
	transition: 0.3s;
	cursor: pointer;
}
.hover-button-darker:hover{
	background-color: #757575 !important;
	transition: 0.3s;
	cursor: pointer;
}
.error {
	margin-left: 10px !important;
}

@keyframes expandAnimation {
	0% {
		opacity: 0;
		transform: rotateX(70deg);
		transform-origin: top;
	}

	100% {
		opacity: 1;
		transform: rotateX(0deg);
		transform-origin: top;
	}
}
