.innerPageContainer {
	padding: 15px;
	width: 98%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.breadcrumbsContainer {
	margin-top: 5px;
	width: 95%;
	display: flex;
	align-items: center;
}

:root {
	--text-color-dark: #9e9e9e;
	--text-color-light: #757575;
}

.hover:hover {
	color: var(--text-color-light)!important;
	transition: "color 0.3s";
}

.hover-button:hover {
	background-color: #e0e0e0!important;
	transition: 0.3s;
	cursor: pointer;
}

@keyframes expandAnimation {
	0% {
		opacity: 0;
		transform: rotateX(70deg);
		transform-origin: top;
	}

	100% {
		opacity: 1;
		transform: rotateX(0deg);
		transform-origin: top;
	}
}