.App {
	text-align: center;
	margin: 0;
	height: 100vh;
}
.body {
	font-family: "montserrat";
}

/*scroll*/

body::-webkit-scrollbar {
	display: none;
}

/* Firefox */
* {
	scrollbar-width: auto;
	scrollbar-color: #ededed #000000;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
	width: 7px;
}

*::-webkit-scrollbar-track {
	background: rgb(17, 17, 17);
	padding: 2px;
}

*::-webkit-scrollbar-thumb {
	background-color: #ededed;
	border-radius: 2px;
	border: 0px solid #ffffff;
}

/* layout */
.newsContainer > .lastChild:first-child {
	grid-column: span 2;
}

/* quill */
.ql-container {
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

.ql-snow.ql-toolbar {
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.quill-error > * {
	border: 1px solid #d32f2f !important;
}
.ql-toolbar.ql-snow + .ql-container.ql-snow{
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}
.ql-editor p{
	color: black !important;
}

.ql-toolbar.ql-snow {
	background-color: #ededed!important;
}

@keyframes myAnim {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@media (min-width: 600px) {
	.css-b62m3t-container {
		width: 33%;
	  }
  }
